// Include fonts
@font-face {
    font-family: 'Intro-Book';
    src: url('../fonts/Intro-Book.eot');
    src: url('../fonts/Intro-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Intro-Book.woff') format('woff'),
    url('../fonts/Intro-Book.ttf') format('truetype'),
    url('../fonts/Intro-Book.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Intro';
    src: url('../fonts/IntroRegular.eot');
    src: url('../fonts/IntroRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IntroRegular.woff') format('woff'),
    url('../fonts/IntroRegular.ttf') format('truetype'),
    url('../fonts/IntroRegular.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MinionPro-Regular';
    src: url('../fonts/MinionPro-Regular.eot');
    src: url('../fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MinionPro-Regular.woff') format('woff'),
    url('../fonts/MinionPro-Regular.ttf') format('truetype'),
    url('../fonts/MinionPro-Regular.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MinionPro-Bold';
    src: url('../fonts/MinionPro-Bold.eot');
    src: url('../fonts/MinionPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MinionPro-Bold.woff') format('woff'),
    url('../fonts/MinionPro-Bold.ttf') format('truetype'),
    url('../fonts/MinionPro-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

// Include fonts - END

//Reset
// html,body{
//     height:100% !important;
//     width:100% !important;
// }
body {
    padding: 0;
    margin: 0;
    font: 300 12px 'Intro-Book', sans-serif;
    background: #fff;
}
a img { border: 0 }
a, :focus { outline: none;text-decoration:none;}

.wrapper div,
.wrapper p,
.wrapper ul,
.wrapper li,
.wrapper ol,
.wrapper table,
.wrapper tr,
.wrapper td,
.wrapper th,
.wrapper input,
.wrapper textarea,
.wrapper a,
.wrapper span,
.wrapper form,
.wrapper label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1, h2, h3 { margin: 0; padding: 0; }

//Reset END

// Constant	value
	
yellow = #ffde00;
orange = #ff9211;
textGrey = #3e3e3e;

//colors
.text-yellow{
  color yellow
}

.text-orange{
  color orange 
}

.text-white{
  color white
}
// 12px 15px 20px 



a:hover{
  text-decoration none
}
a{
  color white
}

.bold{
  font-weight 600
}

.fz12{
  font-size 12px
}
.fz15{
  font-size 15px
}
.fz20{
  font-size 20px
}
.mt35{
  margin-top 35px
}
.boldfont{
  font-family boldfont
}

.flex{
  display flex
  justify-content center
  align-items center
}

.p60{
  padding 60px
}

.tal{
  text-align left!important
}

.dib{
  display inline-block
}

.w100per{
  width 100%
}

.flex-col{
  flex-flow column
}

ul,li{
  padding 0
  margin 0
}

.ros-rel{
  position relative
}

//Main stylesheet

.main-page-bg{
  background-image url(../img/back.png);
  background-size cover
  background-repeat no-repeat
}

.header {
  padding-top 30px
  &-item{
    float left
  }
  &-logo {
    margin-right 30px
  }
  &-nav {
    width 100%
    z-index 100
    position relative
    ul{
        @extend .flex
        justify-content: space-around
      li{
        list-style none;
        margin-top 30px
        a{
          font: 400 15px / 13px Intro;
          color white
        }
      }
    }
  }
  &-contact{
    font: 400 19px / 20px Intro;
  }
  .yellow-button{
    margin-top 15px
  }
}

.yellow-button{
  background yellow
  color black 
  font: 400 12px / 13px Intro;
  border-radius 3px
  text-align center 
  padding 10px 5px 
  display inline-block 
  z-index 100
  position relative
  &:hover,&:active{
    color white
  }
}

.main-page-fullsize{
  height: 100vh; 
}
.main-page-bottomImg{
  // width 1280px
  position absolute
  bottom 0px 
  left 0px 
  background-image url(../img/menubook.png)
  height 500px 
  background-repeat no-repeat
  background-size: cover;
  background-position: center;
}

.book-item{
  padding 40px
  position relative
  &-title{
      font: 400 15px / 13px Intro;
      text-align center 
      margin-bottom 20px
  }
  .yellow-button{
    width 155px
    margin 0 auto!important 
    display block
   
  }
}
.book-leftpart{
    &:before{
      content ''
      position absolute
      left 40px
      top 20px
      width 50px
      height 50px
      background-image url(../img/bokal.png)
      background-repeat no-repeat
    }
  }
  .book-rightpart{
    &:before{
      content ''
      position absolute
      right 40px
      top 20px
      width 50px
      height 50px
      background-image url(../img/star.png)
      background-repeat no-repeat
    }
  }
.main-page-row{
  position relative
  height 100%
}  
.book-block {
  
  &-date {
    text-align center
    font: 400 15px / 13px Intro;
    color orange
    margin-bottom 15px
  }
  p{
    margin 0
    margin-bottom 20px
    font-size 12px
    color: #3e3e3e;
    
  }
  img{
    border-right 50%
    float left
    width 70px
    margin-right 10px
    margin-bottom 40px
  }

}

.footer-line {
  z-index 2
  position absolute
  bottom 0
  @extend .flex
  align-items: flex-end;
  width 100%
  &-item{
   margin 0 10px
  }
  &-social {
    margin-bottom 15px
  }
  &-trip {

  }
  &-logoJq {
    margin-bottom 15px
  }
}

.footer-main {
  @extend .flex
  align-items: flex-end;
  width 100%
  height 165px
  background-image url(../img/table.png)
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  &-item{
   margin 0 10px
  }
  &-social {
    margin-bottom 15px
  }
  &-trip {

  }
  &-logoJq {
    margin-bottom 15px
  }
}

.header-slider{
  background-image url(../img/backmin.jpg)
  background-size: cover;
}

.header-slider-item{
  position relative
  img{
    margin 0 auto
    display block
    width 100%
  }
  .owl-prev{
    position absolute
    background-image url(../img/arrow-left-active.png)
    height 70px
    width 40px
    background-repeat no-repeat
    left 0
    top 40%
  }
  .owl-next{
    position absolute 
    background-image url(../img/arrow-right-active.png) 
    height 70px
    width 40px  
    background-repeat no-repeat 
    right 0
    top 40%
  }
}

.content-title{
  font: 400 25px / 13px Intro;
  margin-top 55px
  margin-bottom 45px
  text-align center
}

.calendar-monthline{
  @extend .flex
  flex-wrap wrap
  a{
    font: 400 15px / 13px Intro;
    color: #959595;
    margin 10px
  }
}

.calendar-active{
  color black!important
}

.calendar-curent{
  padding 10px
  background yellow
  border-radius 2px
 
}

.calendar-cellblock{
  margin-top 40px
  margin-bottom 50px
  @extend .flex
  flex-wrap wrap
  justify-content: center;
  &-left {
    position absolute
    top 0
    left 0
    width 40px
    height 40px
    background yellow
    color black
    font: 400 21.1px / 40px Intro;
    text-align center
  }
  &-right {
    position absolute
    top 0
    right 5px
    width 40px
    height 40px
    color black
    font: 400 21.1px / 40px Intro;
    text-align center
  }
  &-title {
    font: 400 10px / 18px Intro;
    text-align center
  }
  &-items-text {
     font: 300 8px / 18px Intro-Book;
     text-align center
  }
  &-items{
    @extend .flex
    flex-flow column
    position relative
    height 155px
    width 170px
    border 2px solid yellow
    margin 5px
  } 
}

.calendar-content{
  margin-top 40px
}
.calendar-content-title{
  font: 400 15px / 18px Intro;
}
.calendar-content-date {
  @extend .flex
  flex-flow column
  background yellow
  padding 35px 25px 
  width 170px
  height 155px
  &-text {
    font: 400 25px Intro;
    text-align center
    &:last-child{
      font-size 18px
    }
  }
}

.events{
  margin-top 50px
}
.events-block {
  margin-bottom 40px
  &-date {
    font 700 22px / 13px Intro
    margin-bottom 20px
    text-align center
    padding 20px 15px
    box-sizing border-box
    border 2px solid yellow
  }
  &-img {
    img{
      width 100%
    }
  }
  &-title {
    margin-top 20px
    font 400 15px / 18px Intro
    text-align center
  }
  &-text {
    text-align center
    margin-bottom 15px
  }
  .yellow-button {
    margin 0 auto
    display block
    width 125px 
  }
}

.event-one {
  &-date {
    font 700 25px / 13px Intro
    text-align center
    padding 20px 15px
    box-sizing border-box
    border 2px solid yellow
    display inline-block
  }
  &-title {
    margin-top 20px
    font 400 15px / 18px Intro
  }
}

.event-img{
  img{
    width 100%
  }
}
.event-slider{
  margin-bottom 75px
  position relative
  img{
    margin 20px auto
    display block
    
  }
  .owl-prev{
    position absolute
    background-image url(../img/arrow-left-active.png)
    height 70px
    width 40px
    background-repeat no-repeat
    left -15px
    top 50%
    margin-top -35px
    margin-right 10px
  }
  .owl-next{
    position absolute 
    background-image url(../img/arrow-right-active.png) 
    height 70px
    width 40px  
    background-repeat no-repeat 
    right -15px
    top 50%
    margin-top -35px
  }
  
}

.event-button{
  padding 10px 15px
  font 400 15px / 30px Intro
  width 150px
  margin 0 auto
  display block
  margin-bottom 50px
} 

.menu-page-right-listype{
  .menu-small-icon{
    width 35px
    height 35px
    background yellow 
    border-radius 50% 
    margin-right 10px
    @extend .flex
    img{
      width 20px
    }
  }
  ul{
    @extend .flex
    list-style none
    li{
      @extend .flex
      margin-right 15px
      font 400 15px / 13px Intro
    }
  }
}


.menu-cards {
  @extend .flex
  flex-flow column
  margin-bottom 40px
  &-img {
    position relative
    margin-bottom 10px
  }
  .menu-cards-img-coner{
    position absolute
    right 0
  }
  &-title {
    font: 400 15px / 16px Intro;
    text-align center
    width 80%
  }
  &-text {
    margin 15px 0
    width 70%
    text-align center
  }
  &-price {
    border 2px solid yellow
    width 190px
    @extend .flex
    height 65px
  }
  &-price-val {
      font 400 25px / 13px Intro
      flex 2 0 
      text-align center
  }
  &-icon {
    background yellow
    height 100%
    width 65px
    height 65px
    @extend .flex
    flex 1 0 
    
  }
}


.menu-basket {
  .yellow-button{
    width 100%
    background orange
    color white
    padding 10px 15px
    font 300 15px / 30px Intro
  }
  width 85%
  &-head {
    background yellow
    position: relative;
  }
  &-head-title {
     padding 15px
     font 400 15px / 20px Intro
    &-val{
      font 400 25px / 20px Intro
    }
    img{
      float left
      margin-right 10px
    }
  }
  &-head-sale {
    padding 10px 15px
    background orange
    font 400 15px / 30px Intro
    color white
    &-text{
      float left
    }
    &-val{
      font 800 25px / 30px Intro
      float right
      font-family: Intro-Book;
    }
  }
  &-head-total {
    padding 10px 15px
    &-text{
      float left
      font 400 15px / 30px Intro
    }
    &-val{
      font 400 20px / 30px Intro
      float right
    }
  }
  &-event {
    border 2px solid yellow
    padding 15px
    &-text{
      @extend .flex
      flex-flow column
      align-items: flex-start
      height 60px
    }
  }
  &-item {
    height 60px
    margin-bottom 15px
  }
  &-item-count {
    width 20px
    float left
    .minus,
    .plus{
      width 17px
      height 17px
      background yellow 
      display inline-block
      text-align center
      line-height 17px
      border-radius 2px
      &:hover,:active{
        cursor pointer
        background orange
      }
    }
    input{
      text-align center
      width 17px
      font 400 15px  Intro
      border 0px
    }
  }
  &-img {
    width 55px
    border-radius 50%
    float left
    margin 0 10px
  }
  &-title {
    
  }
  &-price {
    font 800 15px / 20px Intro
    font-family: Intro-Book;
  }
  &-price-sale {
    color orange
    margin-left 10px
  }
}

.menu-service{
  padding 15px
  border 2px solid yellow
  width 85%
  margin-top 20px
  
  ul{
    list-style none
    padding-left 15px
    li{
      list-style-type: disc
      margin 10px
    }
    a{
      font 400 15px / 23px Intro
      color black
      &:hover,&:active{
        color orange 
      }
    }
  }
}

.menu-page-left{
  .menu-cards{
    width 85%
  }
}

.menu-basket-sale-title{
  font 400 15px / 30px Intro
  text-align center
  margin 15px 0px
}

.menu-book-toplist{
  margin 30px 0px 10px
  ul{
    list-style none
    @extend .flex
    justify-content: space-around;
    a{
      color black
      font 400 25px / 13px Intro
    }
  }
  &-curent{
    padding 5px 10px
    background yellow
    border-radius 3px
  }
}

.menu-book-item {
  position relative
  margin-bottom 20px
  &:before{
    content ""
    height 2px
    width 100%
    background-image url(../img/doted.png)
    background-repeat repiat-x
    position absolute
    bottom -10px
  }
  &-info{
   padding-left 20px
  }
  &-img {
    img{
      width 175px
      border-radius 50%
      
    }
  }
  &-title {
    font 400 15px / 16px Intro
    margin-top 20px
  }
  &-text {
    padding 15px 0
  }
  &-price {
    font 400 25px / 13px Intro
    text-align center
    padding 25px 0px
    border 2px solid yellow
    width 100%
  }
}
.doted{
  height 2px
  width 100%
  background-image url(../img/doted.png)
  background-repeat repiat-x
}

.book-pagiantion{
  &-item{
     padding 20px
     border 2px solid yellow
     width: 70%;
     margin: 20px auto;
    ul{
      @extend .flex
      list-style none
      a{
        color black
        font 400 25px / 30px Intro
        padding 20px
      }
    }
  }
}

.menu-book-title{
  font 400 25px / 13px Intro
  text-align center
  margin 50px 0px
  margin-top 100px
}

.book-hand-bgimage{
  position: absolute;
  bottom: 0px;
  left: 14%;
  width: 86%;
  img{
    z-index 2
    width 100%
  }
}

.book-cont{
  position relative
  z-index 100
}

.book-bg{
  background-image url(../img/book-hand.png)
  background-repeat no-repeat
  background-position: 20% 20%
}

.toggle-menu{
  width 80px
  height 35px
  background yellow
  font 400 15px  Intro
  padding 10px 5px
  padding-top 15px
  border-radius 0px 0px 3px 3px
  margin 0 auto
}

.menu-book-but{
  margin 20px auto
  display: block;
  width: 250px;
  padding 20px

}

.menu-basket-filtre{
  background orange
  height 50px
  color white
  font 400 15px  Intro
  .fa{
    margin-left 10px
  }
  display flex
  align-items center
  justify-content center
}

.main-page-bg{
  .footer-main{
    z-index: 2;
    position: absolute;
    bottom: 0;
    flex-align: end;
    align-items: flex-end;
    width: 100%;
    background-image none
  }
}